<div>
    <div class="row">
        <div class="col-md-1">
            <span class="max max-stats-bars2 fs-30 text-light"></span>
        </div>
        <div class="col-md-10">
            <i class="max-walking text-light"></i>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt possimus dolore quis quas ratione qui, ad unde id, natus molestiae, rem iusto nulla ipsam magni minima commodi soluta delectus in!
        </div>
        <div class="col-md-1"></div>
    </div>
</div>