<div class="bg-dark">
  <app-header *ngIf="!mostrarLogin"></app-header>
    <div  *ngIf="mostrarLogin" class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">

            <div class="espaciado"></div>
            <div class="card p-5 bg-dark shadow">

                <form [formGroup]="formIngreso" (submit)="enviar()" class="f-merriweather fs-15 lh-15">
                    <div class="form-group">
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="email" placeholder="Email">
                      <div *ngIf="!formIngreso.get('email')?.valid" class="text-danger font-italic" role="alert">
                        <small>Ingrese correo</small>
                      </div>
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password"  placeholder="Password">
                      <div *ngIf="!formIngreso.get('password')?.valid" class="text-danger font-italic" role="alert">
                        <small>Ingrese la clave</small>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary fondo-oro borde-oro w-100 shadow">Ingresar</button>
                    <div *ngIf="!errorClave" class="color-oro font-italic" role="alert">
                      <small>Clave o usuario incorrecto</small>
                    </div>
                </form>
              </div>
              <div class="espaciado"></div>
              <div class="espaciado"></div>
              <div class="espaciado"></div>
          </div>
          <div class="col-md-4"></div>
        </div>
        
        <div *ngIf="!mostrarLogin" class="p-5 bg-dark">
          <div class="espaciado"></div>
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
              <div class="row f-shadow-into-l">
                <div *ngFor="let opcion of menu" class="col l-menu bg-dark">
                  <a href="{{ opcion.ruta }}">
                    <p class="color-oro">
                      {{ opcion.nombre }}
                    </p>
                  </a>
                </div>
              </div>
              <div class="espaciado"></div>
              <div class="espaciado"></div>
              <div class="espaciado"></div>

            </div>
            <div class="col-md-1"></div>
          </div>
        </div>

</div>