<div class="bg-dark">
    <div class="espacio"></div>
    <div class="espaciado"></div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 shadow p-5">
                    <select name="" id="" class="w-100" (change)="grupoSeleccionado($event)">
                        <option value="Astro Sol">Astro Sol</option>
                        <option value="Astro Luna">Astro Luna</option>
                    </select>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="espaciado"></div>
    <div class="espaciado"></div>
    <div class="espaciado"></div>

</div>