<div class="bg-dark">
    <app-header></app-header>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="espaciado"></div>
            <h2 class="f-merriweather fs-50 text-light">
                ANÁLISIS
            </h2>
            <div class="espacio"></div>
            <div class="row">
                <div class="col-md-6">
                    <p class="text-light f-merriweather">CAUSAS CONSTANTES</p>
                    <ul class="text-light f-merriweather">
                        <li>El patrón que cae un día, no es muy es viable de volverse a repetir al día siguiente, o en los siguientes días.</li>
                        <li>Los números que estan en favoritos vuelven a caer pero no es muy viable que sea juntos.</li>
                        <li></li>
                    </ul>

                </div>
                <div class="col-md-6"></div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>